:root[data-theme="theme-dark"], .wts-theme-provider-dark {
	--s-neutral-canvas-default: #0c0f1f;
	--s-neutral-bg-default: #181c33;
	--s-neutral-bg-default-90a: rgba(24,28,51,0.9);
	--s-neutral-bg-inv-default: #f8f8f9;
	--s-neutral-bg-hover: #8c909d;
	--s-neutral-bg-active: #f0f1f2;
	--s-neutral-bg-disabled: #2a2f46;
	--s-neutral-bg-weak-default: #2a2f46;
	--s-neutral-bg-weak-hover: #3f4559;
	--s-neutral-bg-weak-active: #656a7a;
	--s-neutral-txt-default: #e1e3e6;
	--s-neutral-txt-hover: #f0f1f2;
	--s-neutral-txt-active: #f0f1f2;
	--s-neutral-txt-disabled: #8c909d;
	--s-neutral-txt-weak-default: #8c909d;
	--s-neutral-txt-weak-hover: #e1e3e6;
	--s-neutral-txt-weak-active: #b6b9c1;
	--s-neutral-txt-inv-default: #0c0f1f;
	--s-neutral-txt-inv-hover: #3f4559;
	--s-neutral-txt-inv-active: #181c33;
	--s-neutral-txt-inv-disabled: #b6b9c1;
	--s-neutral-txt-weak-inv-default: #8c909d;
	--s-neutral-txt-weak-inv-hover: #656a7a;
	--s-neutral-txt-weak-inv-active: #2a2f46;
	--s-neutral-icon-default: #e1e3e6;
	--s-neutral-icon-hover: #f0f1f2;
	--s-neutral-icon-active: #f0f1f2;
	--s-neutral-icon-disabled: #8c909d;
	--s-neutral-icon-weak-default: #e1e3e6;
	--s-neutral-icon-weak-hover: #e1e3e6;
	--s-neutral-icon-weak-active: #b6b9c1;
	--s-neutral-icon-inv-default: #656a7a;
	--s-neutral-icon-inv-hover: #3f4559;
	--s-neutral-icon-inv-active: #181c33;
	--s-neutral-icon-inv-disabled: #b6b9c1;
	--s-neutral-icon-weak-inv-default: #8c909d;
	--s-neutral-icon-weak-inv-hover: #656a7a;
	--s-neutral-icon-weak-inv-active: #2a2f46;
	--s-neutral-border-default: #656a7a;
	--s-neutral-border-hover: #8c909d;
	--s-neutral-border-active: #b6b9c1;
	--s-neutral-border-disabled: #656a7a;
	--s-neutral-border-weak-default: rgba(101,106,122,0.6);
	--s-neutral-border-weak-hover: #8c909d;
	--s-neutral-border-weak-active: rgba(101,106,122,0.6);
	--s-primary-bg-default: #7588f6;
	--s-primary-bg-hover: #a4b6fb;
	--s-primary-bg-active: #dae2fe;
	--s-primary-bg-weak-default: #110662;
	--s-primary-bg-weak-hover: #371ee1;
	--s-primary-bg-weak-active: #4d58eb;
	--s-primary-txt-default: #a4b6fb;
	--s-primary-txt-hover: #ecf1ff;
	--s-primary-txt-active: #f6f8ff;
	--s-primary-txt-weak-default: #7588f6;
	--s-primary-txt-weak-hover: #a4b6fb;
	--s-primary-txt-weak-active: #ecf1ff;
	--s-primary-txt-inv-default: #090640;
	--s-primary-txt-inv-hover: #090640;
	--s-primary-txt-inv-active: #090640;
	--s-primary-txt-weak-inv-default: #221098;
	--s-primary-txt-weak-inv-hover: #110662;
	--s-primary-txt-weak-inv-active: #090640;
	--s-primary-icon-default: #a4b6fb;
	--s-primary-icon-hover: #ecf1ff;
	--s-primary-icon-active: #f6f8ff;
	--s-primary-icon-weak-default: #7588f6;
	--s-primary-icon-weak-hover: #a4b6fb;
	--s-primary-icon-weak-active: #ecf1ff;
	--s-primary-icon-inv-default: #090640;
	--s-primary-icon-inv-hover: #090640;
	--s-primary-icon-inv-active: #090640;
	--s-primary-icon-weak-inv-default: #221098;
	--s-primary-icon-weak-inv-hover: #110662;
	--s-primary-icon-weak-inv-active: #090640;
	--s-primary-border-default: #7588f6;
	--s-primary-border-hover: #a4b6fb;
	--s-primary-border-active: #4d58eb;
	--s-primary-border-weak-default: rgba(118,136,246,0.7);
	--s-primary-border-weak-hover: #7688f6;
	--s-primary-border-weak-active: rgba(77,88,235,0.6);
	--s-info-bg-default: #9980b7;
	--s-info-bg-hover: #c2b3d4;
	--s-info-bg-active: #e6e0ec;
	--s-info-bg-weak-default: #221633;
	--s-info-bg-weak-hover: #221633;
	--s-info-bg-weak-active: #3b2758;
	--s-info-txt-default: #9980b7;
	--s-info-txt-hover: #c2b3d4;
	--s-info-txt-active: #e6e0ec;
	--s-info-txt-inv-default: #221633;
	--s-info-txt-inv-hover: #3b2758;
	--s-info-txt-inv-active: #170c20;
	--s-info-icon-default: #9980b7;
	--s-info-icon-hover: #c2b3d4;
	--s-info-icon-active: #e6e0ec;
	--s-info-icon-inv-default: #221633;
	--s-info-icon-inv-hover: #3b2758;
	--s-info-icon-inv-active: #170c20;
	--s-info-border-default: #9980b7;
	--s-info-border-hover: #c2b3d4;
	--s-info-border-active: #e6e0ec;
	--s-info-border-weak-default: rgba(153,128,183,0.5);
	--s-info-border-weak-hover: rgba(194,179,212,0.5);
	--s-info-border-weak-active: rgba(230,224,236,0.5);
	--s-success-bg-default: #46af9a;
	--s-success-bg-hover: #54cdb4;
	--s-success-bg-active: #81f7de;
	--s-success-bg-weak-default: #0b1f1b;
	--s-success-bg-weak-hover: #12362f;
	--s-success-bg-weak-active: #071310;
	--s-success-txt-default: #46af9a;
	--s-success-txt-hover: #54cdb4;
	--s-success-txt-active: #81f7de;
	--s-success-txt-inv-default: #0b1f1b;
	--s-success-txt-inv-hover: #12362f;
	--s-success-txt-inv-active: #071310;
	--s-success-icon-default: #46af9a;
	--s-success-icon-hover: #54cdb4;
	--s-success-icon-active: #81f7de;
	--s-success-icon-inv-default: #0b1f1b;
	--s-success-icon-inv-hover: #12362f;
	--s-success-icon-inv-active: #071310;
	--s-success-border-default: #46af9a;
	--s-success-border-hover: #54cdb4;
	--s-success-border-active: #81f7de;
	--s-success-border-weak-default: rgba(70,175,154,0.5);
	--s-success-border-weak-hover: rgba(84,205,179,0.5);
	--s-success-border-weak-active: rgba(129,247,222,0.5);
	--s-warning-bg-default: #979253;
	--s-warning-bg-hover: #c4be6e;
	--s-warning-bg-active: #ece592;
	--s-warning-bg-weak-default: #1d1c12;
	--s-warning-bg-weak-hover: #33311a;
	--s-warning-bg-weak-active: #12110a;
	--s-warning-txt-default: #979253;
	--s-warning-txt-hover: #c4be6e;
	--s-warning-txt-active: #ece592;
	--s-warning-txt-inv-default: #1d1c12;
	--s-warning-txt-inv-hover: #33311a;
	--s-warning-txt-inv-active: #12110a;
	--s-warning-icon-default: #979253;
	--s-warning-icon-hover: #c4be6e;
	--s-warning-icon-active: #ece592;
	--s-warning-icon-inv-default: #1d1c12;
	--s-warning-icon-inv-hover: #33311a;
	--s-warning-icon-inv-active: #12110a;
	--s-warning-border-default: #979253;
	--s-warning-border-hover: #c4be6e;
	--s-warning-border-active: #ece592;
	--s-warning-border-weak-default: rgba(151,146,83,0.5);
	--s-warning-border-weak-hover: rgba(196,190,110,0.5);
	--s-warning-border-weak-active: rgba(236,229,146,0.5);
	--s-error-bg-default: #cd6a8b;
	--s-error-bg-hover: #e0aab9;
	--s-error-bg-active: #f0dee2;
	--s-error-bg-weak-default: #2d131c;
	--s-error-bg-weak-hover: #4d2231;
	--s-error-bg-weak-active: #6e3347;
	--s-error-txt-default: #cd6a8b;
	--s-error-txt-hover: #e0aab9;
	--s-error-txt-active: #f0dee2;
	--s-error-txt-inv-default: #2d131c;
	--s-error-txt-inv-hover: #2d131c;
	--s-error-txt-inv-active: #1e0b11;
	--s-error-icon-default: #cd6a8b;
	--s-error-icon-hover: #e0aab9;
	--s-error-icon-active: #f0dee2;
	--s-error-icon-inv-default: #2d131c;
	--s-error-icon-inv-hover: #4d2231;
	--s-error-icon-inv-active: #1e0b11;
	--s-error-border-default: #cd6a8b;
	--s-error-border-hover: #e0aab9;
	--s-error-border-active: #f0dee2;
	--s-error-border-weak-default: rgba(205,106,139,0.5);
	--s-error-border-weak-hover: rgba(224,170,185,0.5);
	--s-error-border-weak-active: rgba(240,222,226,0.5);
	--s-brand-bg-default: #181c33;
	--s-brand-bg-hover: #8c909d;
	--s-brand-bg-active: #f0f1f2;
	--s-brand-bg-weak-default: #2a2f46;
	--s-brand-bg-weak-hover: #3f4559;
	--s-brand-bg-weak-active: #3f4559;
	--s-brand-txt-default: #a4b6fb;
	--s-brand-txt-hover: #ecf1ff;
	--s-brand-txt-active: #f6f8ff;
	--s-brand-txt-weak-default: #7588f6;
	--s-brand-txt-weak-hover: #a4b6fb;
	--s-brand-txt-weak-active: #ecf1ff;
	--s-brand-txt-inv-default: #e1e3e6;
	--s-brand-txt-inv-hover: #f0f1f2;
	--s-brand-txt-inv-active: #f0f1f2;
	--s-brand-txt-weak-inv-default: #8c909d;
	--s-brand-txt-weak-inv-hover: #e1e3e6;
	--s-brand-txt-weak-inv-active: #b6b9c1;
	--s-brand-icon-default: #a4b6fb;
	--s-brand-icon-hover: #ecf1ff;
	--s-brand-icon-active: #f6f8ff;
	--s-brand-icon-weak-default: #7588f6;
	--s-brand-icon-weak-hover: #a4b6fb;
	--s-brand-icon-weak-active: #ecf1ff;
	--s-brand-icon-inv-default: #e1e3e6;
	--s-brand-icon-inv-hover: #f0f1f2;
	--s-brand-icon-inv-active: #f0f1f2;
	--s-brand-icon-weak-inv-default: #8c909d;
	--s-brand-icon-weak-inv-hover: #e1e3e6;
	--s-brand-icon-weak-inv-active: #b6b9c1;
	--s-brand-border-default: #b6b9c1;
	--s-brand-border-hover: #656a7a;
	--s-brand-border-active: #f0f1f2;
	--s-brand-border-weak-default: rgba(101,106,122,0.6);
	--s-brand-border-weak-hover: #8c909d;
	--s-brand-border-weak-active: rgba(42,47,70,0.6)
}